{% extends '_layout.njk' %}
{% import '_macro/sidebar.njk' as sidebar_template with context %}

{% block title %}{{ page.title }} | {{ title }}{% endblock %}

{% block class %}post posts-expand{% endblock %}

{% block content %}

  {{
    partial('_macro/post.njk', {post: page})
    <div style="text-align: center "> <a href="https://github.com/nmoyu/nmoyu.github.io/edit/myblog/source/<%- page.source %>" target="_blank">编辑文章✏</a> </div>
  }}

{% endblock %}

{% block sidebar %}
  {{ sidebar_template.render(page.toc.enable) }}
{% endblock %}
